@import './base.css';

html, body, * {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  box-sizing: border-box;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
#allCards {
  display: flex;
    place-items: center;
    flex-direction: row;
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
    
  }
}

